#DIR
.vscode/
LMsEvaluator/LMs/
LMsEvaluator/datasets/
LMsEvaluator/logs/
**/node_modules/
LMsEvaluator/attack/BackdoorAttack/openbackdoor
LMsEvaluator/OpenBackdoor/
/LMsEvaluator/attack/MeaeQ/steal/query_and_poolseed=56
/LMsEvaluator/attack/MeaeQ/steal/query_and_pool
/LMsEvaluator/attack/PoisoningAttack/cache
/LMsEvaluator/attack/RLMI/results

# Ignore macOS resource fork files (._*)
._*

#FILE
*.db
components.d.ts
yarn.lock
test.vue
.DS_Store