LM_config:
  local_model: true
  model: bert_base_uncased
attack_list:
- attack_args:
    al_sample_batch_num: -1
    al_sample_method: random
    attack: true
    attack_type: ModelStealingAttack
    epsilon: -1
    initial_drk_model: None
    initial_sample_method: random_sentence
    method: RS
    pool_data_source: wiki
    pool_data_type: whole
    pool_subsize: -1
    prompt: None
    query_num: 320
    run_seed_arr:
    - 56
general:
  log_file_name: single
  logs_save_dir: ./logs
  random_seed: 42
  use_gpu: true
output:
  base_path: output
  evaluation_result: evaluationResult
  model_output: modelOutput
task_config:
  dataset: imdb
  local_dataset: true
  normal_training: false
  save_path: ./cache/model_output
  task: TaskForSingleSentenceClassification
  train_config:
    logging_dir: ./logs
    logging_steps: 1000
    num_train_epochs: 1
    output_dir: ./cache
    per_device_eval_batch_size: 64
    per_device_train_batch_size: 16
    report_to: none
    run_name: my_experiment
    warmup_steps: 1000
    weight_decay: 0.01
