LM_config:
  local_model: true
  model: bert_base_uncased
attack_list:
- attack_args:
    attack: true
    attack_nums: 3
    attack_recipe: TextFoolerJin2019
    attack_type: AdvAttack
    dataset_name_or_path: datasets/imdb/train.txt
    defender: false
    display_full_info: true
    model_name_or_path: LMs/bert_base_uncased
    tokenizer_name_or_path: LMs/bert_base_uncased
    use_local_dataset: true
    use_local_model: true
    use_local_tokenizer: true
- attack_args:
    attack: true
    attack_type: BackdoorAttack
    defender:
      strategy: ONION
    display_full_info: true
    model: bert
    model_name_or_path: LMs/bert_base_uncased
    poison_dataset: sst-2
    poisoner:
      name: BadNets
    sample_metrics:
    - ppl
    - use
    target_dataset: sst-2
    train:
      batch_size: 16
      epochs: 1
      name: base
    use_local_model: true
- attack_args:
    attack: true
    attack_type: PoisoningAttack
    defender: true
    epochs: 15
    poisoning_rate: 0.15
    save_path: ./attack/PoisoningAttack/model_output
    train_config:
      logging_dir: ./logs
      logging_steps: 1000
      num_train_epochs: null
      output_dir: ./attack/PoisoningAttack/cache
      per_device_eval_batch_size: 64
      per_device_train_batch_size: 16
      report_to: none
      run_name: my_experiment
      warmup_steps: 1000
      weight_decay: 0.01
general:
  log_file_name: ChenyangZhao_single_1753729162
  logs_save_dir: ./logs
  random_seed: 42
  use_gpu: true
output:
  base_path: output
  evaluation_result: evaluationResult
  model_output: modelOutput
task_config:
  dataset: imdb
  local_dataset: true
  normal_training: false
  save_path: ./cache/model_output
  task: TaskForSingleSentenceClassification
  train_config:
    logging_dir: ./logs
    logging_steps: 1000
    num_train_epochs: 1
    output_dir: ./cache
    per_device_eval_batch_size: 64
    per_device_train_batch_size: 16
    report_to: none
    run_name: my_experiment
    warmup_steps: 1000
    weight_decay: 0.01
