LM_config:
  model: bert_base_uncased
attack_list:
- attack_args:
    attack: true
    attack_nums: 2
    attack_recipe: TextFoolerJin2019
    attack_type: AdvAttack
    dataset_name_or_path: datasets/imdb/train.txt
    display_full_info: true
    model_name_or_path: LMs/bert_base_uncased
    tokenizer_name_or_path: LMs/bert_base_uncased
    use_local_dataset: true
    use_local_model: true
    use_local_tokenizer: true
- attack_args:
    attack: true
    attack_batch: 2
    attack_nums: 1
    attack_type: FET
    crossover_rate: 0.9
    dataset_name_or_path: cola
    display_full_info: true
    distance_func: l2
    halloffame_size: 30
    max_generations: 2
    model_name_or_path: LMs/bert_base_uncased
    mutation_rate: 0.1
    population_size: 300
    seed: 42
    tokenizer_name_or_path: LMs/bert_base_uncased
    tournsize: 5
    use_local_model: true
    use_local_tokenizer: true
- attack_args:
    attack: true
    attack_type: BackDoorAttack
    defender: None
    display_full_info: true
    model: bert
    model_name_or_path: LMs/bert_base_uncased
    poison_dataset: sst-2
    poisoner:
      name: badnets
    sample_metrics: []
    target_dataset: sst-2
    train:
      batch_size: 16
      epochs: 1
      name: base
    use_local_model: true
general:
  random_seed: 0
  use_gpu: true
output:
  base_path: output
  evaluation_result: evaluationResult
  model_output: modelOutput
task_config:
  dataset: imdb
  dataset_type: '''.txt'''
  epochs: 1
  split_sep: _!_
  task: TaskForSingleSentenceClassification
