LM_config:
  local_model: true
  model: bert_base_uncased
attack_list:
- attack_args:
    attack: true
    attack_type: PoisoningAttack
    defender: null
    poisoning_rate: 0.15
    save_path: ./attack/PoisoningAttack/model_output
    train_config:
      logging_dir: ./logs
      logging_steps: 1000
      num_train_epochs: 15
      output_dir: ./attack/PoisoningAttack/cache
      per_device_eval_batch_size: 64
      per_device_train_batch_size: 16
      report_to: none
      run_name: my_experiment
      warmup_steps: 1000
      weight_decay: 0.01
- attack_args:
    attack: true
    attack_type: PoisoningAttack
    defender: null
    poisoning_rate: 0.15
    save_path: ./attack/PoisoningAttack/model_output
    train_config:
      logging_dir: ./logs
      logging_steps: 1000
      num_train_epochs: 15
      output_dir: ./attack/PoisoningAttack/cache
      per_device_eval_batch_size: 64
      per_device_train_batch_size: 16
      report_to: none
      run_name: my_experiment
      warmup_steps: 1000
      weight_decay: 0.01
- attack_args:
    attack: true
    attack_type: RLMI
    dataset_name: emotion
    defender:
      prune_ratio: 0.2
      type: pruning
    max_input_length: 8
    max_iterations: 1
    min_input_length: 3
    model_name: tinybert4
    num_generation: 1500
    ppo_config:
      batch_size: 16
      learning_rate: 1.0e-05
      log_with: None
      mini_batch_size: 16
    seed: 123
    seq_length: 20
    target_label: 1
- attack_args:
    attack: true
    attack_batch: 2
    attack_nums: 1
    attack_type: FET
    crossover_rate: 0.9
    dataset_name_or_path: cola
    defender: null
    display_full_info: true
    distance_func: l2
    halloffame_size: 30
    max_generations: 2
    model_name_or_path: LMs/bert_base_uncased
    mutation_rate: 0.1
    population_size: 300
    seed: 42
    tokenizer_name_or_path: LMs/bert_base_uncased
    tournsize: 5
    use_local_model: true
    use_local_tokenizer: true
general:
  log_file_name: Zhao_single_1753970751
  logs_save_dir: ./logs
  random_seed: 42
  use_gpu: true
task_config:
  dataset: GLUE/cola
  local_dataset: true
  normal_training: false
  save_path: ./cache/model_output
  task: TaskForSingleSentenceClassification
  train_config:
    logging_dir: ./logs
    logging_steps: 1000
    num_train_epochs: 3
    output_dir: ./cache
    per_device_eval_batch_size: 64
    per_device_train_batch_size: 16
    report_to: none
    run_name: my_experiment
    warmup_steps: 1000
    weight_decay: 0.01
