LM_config:
  local_model: true
  model: bert_base_uncased
attack_list:
- attack_args:
    attack: true
    attack_type: AdvAttack
    attack_recipe: TextFoolerJin2019
    use_local_model: True
    use_local_tokenizer: True
    use_local_dataset: True
    model_name_or_path: "LMs/bert_base_uncased"
    #      model_name_or_path: "/cache/modelOutput/task4sst_model.pt"
    tokenizer_name_or_path: "LMs/bert_base_uncased"
    dataset_name_or_path: "datasets/imdb/train.txt"
    #      model_name_or_path: "LMs/bert_base_chinese"
    #      tokenizer_name_or_path: "LMs/bert_base_chinese"
    #      dataset_name_or_path: "datasets/ChineseNER/train.txt"
    attack_nums: 20
    display_full_info: True
    #      defender: None
    defender:
    num_epochs: 1
    num_clean_epochs: 0
    num_train_adv_examples: 10
    learning_rate: 5e-5
    per_device_train_batch_size: 2
    gradient_accumulation_steps: 4
    log_to_tb: False
- attack_args:
    al_sample_batch_num: 2
    al_sample_method: random
    attack: true
    attack_type: ModelStealingAttack
    defender:
      noise_std: 0.1
      type: output-perturb
    epsilon: -1
    initial_drk_model: None
    initial_sample_method: random_sentence
    method: MeaeQ
    pool_data_source: wiki
    pool_data_type: whole
    pool_subsize: 1766
    prompt: This is a movie review.
    query_num: 50
    run_seed_arr:
    - 56


general:
  log_file_name: Zhao_single_1753977782
  logs_save_dir: ./logs
  random_seed: 42
  use_gpu: true
task_config:
  dataset: GLUE/cola
  local_dataset: true
  normal_training: false
  save_path: ./cache/model_output
  task: TaskForSingleSentenceClassification
  train_config:
    logging_dir: ./logs
    logging_steps: 1000
    num_train_epochs: 3
    output_dir: ./cache
    per_device_eval_batch_size: 64
    per_device_train_batch_size: 16
    report_to: none
    run_name: my_experiment
    warmup_steps: 1000
    weight_decay: 0.01
