LM_config:
  local_model: true
  model: bert_base_uncased
attack_list:
- attack_args:
    attack: true
    attack_type: PoisoningAttack
    defender: true
    poisoning_rate: 0.15
    save_path: ./attack/PoisoningAttack/model_output
    train_config:
      logging_dir: ./logs
      logging_steps: 1000
      num_train_epochs: 15
      output_dir: ./attack/PoisoningAttack/cache
      per_device_eval_batch_size: 64
      per_device_train_batch_size: 16
      report_to: none
      run_name: my_experiment
      warmup_steps: 1000
      weight_decay: 0.01
general:
  log_file_name: Zhao_single_1755183860
  logs_save_dir: ./logs
  random_seed: 42
  use_gpu: true
task_config:
  dataset: GLUE/cola
  local_dataset: true
  normal_training: true
  save_path: ./cache/model_output
  task: TaskForSingleSentenceClassification
  train_config:
    logging_dir: ./logs
    logging_steps: 1000
    num_train_epochs: 3
    output_dir: ./cache
    per_device_eval_batch_size: 64
    per_device_train_batch_size: 16
    report_to: none
    run_name: my_experiment
    warmup_steps: 1000
    weight_decay: 0.01
