LM_config:
  local_model: true
  model: bert_base_uncased
attack_list:
- attack_args:
    attack: true
    attack_type: JailbreakAttack
    jailbreak_dataset: JailbreakBench/JBB-Behaviors
    judge:
      lm_model_name: sentence-transformers/all-MiniLM-L6-v2
      method: keyword
      threshold: 0.5
    model_name_or_path: LMs/gpt2
    subset: behaviors
general:
  log_file_name: single
  logs_save_dir: ./logs
  random_seed: 42
  use_gpu: true
task_config:
  dataset: GLUE/cola
  local_dataset: true
  normal_training: true
  save_path: ./cache/model_output
  task: TaskForSingleSentenceClassification
  train_config:
    logging_dir: ./logs
    logging_steps: 1000
    num_train_epochs: 3
    output_dir: ./cache
    per_device_eval_batch_size: 64
    per_device_train_batch_size: 16
    report_to: none
    run_name: my_experiment
    warmup_steps: 1000
    weight_decay: 0.01
