 /* AttackRecords 组件专用样式 */
 .history-container {
 	width: 100%;
 	/* height: 50%;
	overflow: auto;
	overscroll-behavior: contain; */
 }

 .records-list {
 	margin-bottom: 1rem;
 }

 .card {
 	background: #fff;
 	border-radius: 0.5rem;
 	margin-bottom: 1rem;
 }

 .card-body {
 	padding: 1rem;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	min-height: 120px;
 }

 .record-name {
 	width: 20%;
 	text-align: center;
 	font-size: 1.25rem;
 	color: #344767;
 	font-weight: 600;
 	padding-right: 1rem;
 	word-break: break-all;

 	border: #446eb6 solid 2px;
 	border-radius: 6px;
	padding: 0;
 }

 .record-name h4 {
	display: block;
 	margin: 0 auto;
 	font-size: 1.25rem;
 	font-weight: 600;
	color: #446eb6;
 }

 .record-time {
 	flex: 1;
 	text-align: center;
 	font-size: 1rem;
 	color: #7b7f88;
 	font-weight: 500;
 	padding-right: 1rem;
 	word-break: break-all;
 }

 .status-container {
 	width: 80px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .status-icon {
 	width: 40px;
 	height: 40px;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

 .status-icon img {
 	width: 100%;
 	height: 100%;
 	object-fit: contain;
 }

 .actions-container {
 	flex: 1;
 	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 }

 .actions-bar {
 	display: flex;
 	gap: 0.5rem;
 }

 .pagination-container {
 	margin-top: 2rem;
 	display: flex;
 	justify-content: center;
 }

 button.ant-pagination-item-link span {
 	transform: translateY(-2px)
 }