.ant-table {
	background-color: #fafafa !important;
}

.ant-table-thead > tr > th {
	white-space: pre-line;
	padding: 12px !important; 
}

.outer-table > .ant-spin-nested-loading > .ant-spin-container > .ant-table {
	border: 4px solid #E8EBF1;
	border-radius: 10px !important;

	position: relative;
	padding-top:  4em !important;
}

.outer-table > .ant-spin-nested-loading > .ant-spin-container {
	margin-top: 5em;
}

.ant-table-title {
	display: inline-block;
	width: auto;
	white-space: nowrap;
	text-align: center;

	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 20px;
	z-index: 2;
	/* padding: 6px; */

	/* background-color: #00adb5; */
	/* background: linear-gradient(to right, 120deg, var(--success), #0a8754); */
	border: 0px;
	border-radius: 10px !important;
	box-shadow: 0 4px 12px #83898d;
}

.safe-attack-table .ant-table-title {
		background: linear-gradient(45deg,
			#1c72cf,
			#0a9bb2
	);
}

.privacy-attack-table .ant-table-title {
	/* 渐变背景，上方是空白，下方是卡片 */
	background: linear-gradient(45deg,
			#00adb5,
			#0a8754
	);
}

.normal-train-table .ant-table-title {
	/* 渐变背景，上方是空白，下方是卡片 */
	background: linear-gradient(45deg,
			#9c5fb9,
			#1d66c6
	);
}


.ant-table-title h4 {
	color: white;
	text-align: center;

}

/* .ant-table-cell {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.flex {
	display: flex;
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}


/* .pr-4 {
	padding-right: 1rem;
} */

.ant-table-row-expand-icon-cell {
	width: 10px;
  padding: 0 !important; /* Flexbox下可以完全移除内边距 */
  
  /* 使用 Flexbox 居中 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
}

.ant-table-row:hover {
	box-shadow:  
		0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.defender-row::after {
    content: ''; /* 伪元素必须有 content 属性 */
    position: absolute; /* 绝对定位 */
    bottom: 5px;         /* 定位到父元素底部 */
    left: 0;           /* 定位到父元素左侧 */
    width: 100%;       /* 宽度与父元素相同 */
    height: 2px;      /* 预留出阴影的高度 */
    background: transparent; /* 伪元素本身不需要背景色 */

    /* 创建阴影 */
    box-shadow: 0px 5px 3px rgb(70, 130, 180); /* 关键：垂直偏移量向下，水平偏移量为0 */

    /* 堆叠顺序：放在父元素内容的下面，使其看起来是下边框的阴影 */
    z-index: 2;
}

/* .only-attack-row::before {
    content: ''; 
    position: absolute; 
    bottom: 100%;            
    left: 0;          
    width: 100%;     
    height: 2px;     
    background: transparent; 
    border: none;     

    box-shadow: 0 5px 3px rgb(253, 108, 108); 

    z-index: 2;
} */