/*

*/
main.main-content {
	display: flex;
	flex-direction: column;
}

main.main-content>#app {
	flex: 1;
	overflow: auto;
}

main.main-content>#background {
	flex: 1;
	overflow: auto;
}

/* 下面修改了最上方面包屑一行的内容 </a> */
.navbar-main .container-fluid {
	display: flex;
	align-items: center;
}

.navbar-main .collapse.navbar-collapse {
	margin-left: auto !important;
	flex-grow: 0 !important;
	/* 防止它不必要地伸展 */
}

.navbar-main .navbar-nav {
	display: flex !important;
	align-items: center !important;
	/* 强制垂直居中对齐所有图标和按钮 */
	flex-direction: row;
	/* 确保是水平排列 */
	gap: 1rem;
	/* （可选）在项目之间添加一些固定的间距，比 margin 更好控制 */
}

.page-header {
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
}