/*

*/
main.main-content {
	display: flex;
	flex-direction: column;
}

main.main-content>#app {
	width: 95%;
	flex: 1;
	overflow: auto;
	margin: 0 auto;
}

main.main-content>#background {
	flex: 1;
	overflow: auto;
}

/* 下面修改了最上方面包屑一行的内容 </a> */
.navbar-main .container-fluid {
	display: flex;
	align-items: center;
}

.navbar-main .collapse.navbar-collapse {
	margin-left: auto !important;
	flex-grow: 0 !important;
	/* 防止它不必要地伸展 */
}

.navbar-main .navbar-nav {
	display: flex !important;
	align-items: center !important;
	/* 强制垂直居中对齐所有图标和按钮 */
	flex-direction: row;
	/* 确保是水平排列 */
	gap: 1rem;
	/* （可选）在项目之间添加一些固定的间距，比 margin 更好控制 */
}

.page-header {
	display: flex;
	flex-direction: column;
}

#app .page-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center !important;
	margin: 30px auto;
}

#app .page-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

/* 基础样式 */
.nav-link {
	transition: all 0.3s ease;
	border-radius: 0.375rem;
	padding: 0.5rem 1rem !important;
	margin: 0 0.25rem !important;

	display: flex;
	align-items: center;
	justify-content: center;
}

aside .nav-link {
	justify-content: left;
}

/* 选中/活动状态样式 */
.nav-link.active {
	background: linear-gradient(195deg, #42424a, #191919);
	color: white !important;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
		0 7px 10px -5px rgba(64, 64, 64, 0.4);
}

/* 图标颜色 */
.nav-link.active i {
	color: white !important;
	opacity: 1 !important;
}

/* 悬停效果 */
.nav-link:hover:not(.active) {
	background-color: rgba(0, 0, 0, 0.05);
}