.selector {
	position: relative;
	box-sizing: border-box;
}

.select-group {
	border: 0.635px solid #ccc;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	cursor: pointer;
}

.select-group:focus {
	border-color: var(--parimary);
	box-shadow: 0 0 0 0.25rem rgba(67, 97, 238, 0.15);
}

.options-list.active + .select-group {
	border-color: var(--parimary);
	box-shadow: 0 0 0 0.25rem rgba(67, 97, 238, 0.15);
}

.options-list {
	margin-top: 4px;
	width: 100%;
	/* height: 0; */
	max-height: 0;

	box-sizing: border-box;
	position: absolute;
	background-color: #fff;
	overflow-y: overlay;
	/* overflow-x: hidden; */
	scroll-behavior: smooth;
	transition: height 0.4s linear;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.options-list.active {
	max-height: 200px;
	border: 0.635px solid #ccc;
	border-radius: 6px;
}

.option {
	position: relative;
	box-sizing: border-box;
	padding: 4px 16px;
	cursor: pointer;
	/* white-space: nowrap; */
	font-size: medium;
	transition: max-height 0.3s ease-in-out;

	display: flex;
	flex-direction: column;
}

.option:hover,
.option.selected {
	background-color: #767676;
	color: #fff;
	padding-bottom: 5px;
}

.tooltip {

	visibility: hidden;
	opacity: 0;
	/* transition: opacity 0.5s, visibility 0.5s; */

	max-height: 0px;
	width: 100%;
	background-color: transparent;
	/* 背景色设为透明，与 hover 时的背景融合 */
	color: #fff;
	text-align: left;
	padding: 5px 10px 0 0;
	box-sizing: border-box;
	font-size: small;
}

/* 鼠标悬停在 .option 上时，显示 .tooltip */
.option:hover .tooltip {
	max-height: 500px;
	visibility: visible;
	opacity: 1;
}